body {
  text-align: center;
  background: #222;
  color: white;
  font-family: Arial;
}

.gameArea {
  width: 300px;
  height: 500px;
  background: #444;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border: 4px solid white;
}

.car {
  width: 50px;
  height: 80px;
  background: red;
  position: absolute;
  bottom: 10px;
  left: 125px;
}

.enemy {
  width: 50px;
  height: 80px;
  background: yellow;
  position: absolute;
  top: -100px;
}